*{
    margin: 0;
    padding: 0;
}

body{
    margin: 2%;
    background-color: rgb(124, 142, 245);
    color: white;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    text-decoration: none;
    font-size: 1.2em;
}

a{
    text-decoration: none;
}