.btn2{
  background-color: blueviolet;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

.btn1{
  background-color: blue;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  padding: 5px;
}